*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: MontRegular;
  src: url('./Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: MontLight;
  src: url('./Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: MontSemiBold;
  src: url('./Montserrat/Montserrat-SemiBold.ttf');
}

h5 {
  font-family: MontLight;
  line-height: 2rem;
  font-size: 16px;
}

h2 {
  font-size: 50px;
}

h4 {
  font-family: MontLight;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}

b {
  font-family: MontSemiBold;
  color: #697c37;
  font-size: 29px;
  display: inline-block;
}

.caption {
  color: #bac964;
}

ul {
  list-style-type: square;
}

section {
  padding: 1rem;
  margin: 1rem 2rem;
}

header nav {
  width: 100%;
  margin: auto;
  background-color: #f7fbe1;
}

footer nav {
  background-color: #f7fbe1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  padding: 1rem;
}

button:hover {
  animation: dot 0.5s ease-in-out infinite alternate;
}

@keyframes dot {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.carousel,
.carousel-item {
  height: 75vh;
}

.carousel-item img {
  opacity: 0.7;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  font-family: MontSemiBold;
  font-size: 40px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
  font-family: MontRegular;
  letter-spacing: 0.15em;
}

.intro-environment-image {
  width: 100%;
}

.intro-environment-image img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.logo-wrapper {
  display: flex;
  width: 100%;
}

.logo-wrapper img {
  width: 200px;
  object-fit: cover;
  object-position: top;
}

.slogan {
  padding: 4.3rem;
}

.product-description h5 {
  line-height: 2.5rem;
  padding: 1.2rem 0rem;
}

/* .products .jumbotron:hover {
  transform: scale(1.1);
} */

.jumbotron {
  font-family: MontRegular;
  line-height: 3rem;
  text-align: justify;
  padding: 3.5rem !important;
  font-size: 22px;
}

.products {
  margin-top: 5rem;
}

.products .jumbotron {
  padding: 0rem !important;
  background-color: #f5f5f5 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 0.7rem;
}

.card {
  border: 0.5px solid #697c37 !important;
  text-align: justify;
}

.card img {
  max-width: 60%;
  object-fit: contain;
  object-position: top;
}

.event {
  padding: 1rem !important;
  height: 30rem;
}

.event img {
  height: 100%;
  opacity: 0.75;
}

.mail {
  word-break: break-all;
}

@media (max-width: 1025px) {
  section {
    margin: 0.2rem;
  }

  .slogan {
    padding: 0rem;
    display: none;
  }

  .products {
    margin-top: 1rem;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .jumbotron {
    padding: 1rem !important;
    margin: 1rem 0rem !important;
  }

  .title {
    padding: 0.5rem;
    margin: 3rem 0rem;
  }
}
